@model IEnumerable<Order>
@{
    ViewData["Title"] = "Order Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th>Customer</th>
                    <th>Order Date</th>
                    <th>Expected Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.ProductId!=null)
                        {
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Price</td>
                        }
                        else
                        {
                            <td>-</td>
                            <td>-</td>
                        }
                        <td>@item.Quantity</td>
                        <td>
                            @if (item.ProductId != null)
                            {
                                <a asp-controller="Order" asp-action="Product" asp-route-id="@item.ProductId" target="_blank">@item.Product.Name</a>
                            }
                        </td>
                        <td>
                            @if (item.CustomerId != null)
                            {
                                <a asp-controller="Order" asp-action="Customer" asp-route-id="@item.CustomerId" target="_blank">@item.Customer.NameSurname</a>
                            }
                        </td>
                        <td>@item.OrderDate.ToShortDateString()</td>
                        <td>@item.ExpectedOrderDate.ToShortDateString()</td>
                        <td>
                            <a asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Update</a> |
                            <a asp-controller="Order" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detail</a> |
                            <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @if (TempData["successDeleted"] != null)
        {
            <strong class="badge badge-info">@TempData["successDeleted"]</strong>
        }
        else
        {
            <strong class="badge badge-warning">@TempData["errorDeleted"]</strong>
        }
    </div>
</div>

