@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <br />
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Company</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Availability</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @if (item.CompanyId != null)
                            {
                                <a asp-controller="Product" asp-action="Company" asp-route-id="@item.CompanyId" target="_blank">@item.Company.Name</a>
                            }
                        </td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>@item.Description</td>
                        <td>
                            @if (item.Quantity > 0)
                            {
                                <spa>Available</spa>
                            }
                            else
                            {
                                <spa>Not Available</spa>
                            }
                        </td>
                        <td>@item.CreatedDate.ToShortDateString()</td>
                        <td>
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detail</a> |
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Update</a> |
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @if (TempData["successDeleted"] != null)
        {
            <strong class="badge badge-info">@TempData["successDeleted"]</strong>
        }
        else
        {
            <strong class="badge badge-warning">@TempData["errorDeleted"]</strong>
        }
    </div>
</div>

